<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Hannah Seo",
  "url": "https://hannahseo.com",
  "jobTitle": "Journalist, Writer, Editor, Fact-Checker, Poet",
  "sameAs": [
    "https://twitter.com/ahannahseo",
    "https://bsky.app/profile/hannahseo.com",
    "https://instagram.com/v4nity_pl8",
    "https://collageclub.substack.com"
    "https://hannahseo.substack.com"
  ]
}
</script>

<meta name="google-site-verification" content="Cr2rpx3TWOanuB18t5LrPReNyIAb-tWypPRJpExCGOw" />
