// minima theme overrides
@import
  "nav"
;

// content specific
@import
  "ahs/main", 
  "ahs/form", 
  "ahs/articles", 
  "ahs/poems"
;

// other css
@import 
  "fades"
;

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}

h1, h2, h3, h4, h5, h6,
header {
  font-family: $header-font-family;
}

h1 {
  font-size: xxx-large;

  @include media-query($on-palm) {
    font-size: xx-large;
  }
}
